body{
    background-color: #191919;
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{   
    width: 100%;
    height: 80%;
    filter: grayscale(100%);
    transition:transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap svg{
    width: 40px;
    color: aliceblue;
    cursor: pointer;
}

.gallery-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
}

.gallery-wrap .gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1,1);
}